/*!******************************************************************************!*\
  !*** css ../../../../../node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \******************************************************************************/
.hello {
  color: red;
}

.safelisted {
  color: green;
}

.safelistedPattern {
  color: rebeccapurple;
}

.safelistedPatternChildren > p a {
  color: orange;
}

md\:w-2\/3 {
  color: red;
}

