@font-face {
  font-family: 'Cerebri Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/CerebriSans-Regular.eot?') format('eot'), url('../fonts/CerebriSans-Regular.otf') format('opentype'), url('../fonts/CerebriSans-Regular.svg#Cerebri_Sans') format('svg'), url('../fonts/CerebriSans-Regular.ttf') format('truetype'), url('../fonts/CerebriSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cerebri Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/CerebriSans-Bold.eot?') format('eot'), url('../fonts/CerebriSans-Bold.otf') format('opentype'), url('../fonts/CerebriSans-Bold.svg#Cerebri_Sans') format('svg'), url('../fonts/CerebriSans-Bold.ttf') format('truetype'), url('../fonts/CerebriSans-Bold.woff') format('woff');
}

.used {
  color: red;
  font-family: 'Cerebri Sans';
}

.used2 {
color: blue;
font-family: Cerebri Bold, serif;
}


@keyframes bounce {
  from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 1.000);
      transform: translate3d(1, 1, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes scale {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(2);
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  
  to {
      transform: rotate(360deg);
  }
}

.scale-spin {
  animation: spin 300ms linear infinite forwards,scale 300ms linear infinite alternate;
}
