@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 1.000);
        transform: translate3d(1, 1, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.5;
    }
}

.flash {
    animation: flash
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

.scale-spin {
    animation: spin 300ms linear infinite forwards,scale 300ms linear infinite alternate;
}
