.parent1 a{
    color:red;
}
.parent1 p{
    color:red;
}
.parent1 h1{
    color:red;
}
.parent1.def{
    color:red;
}
.parent1.d22222ef{
    color:red;
}
.parent1.d222222222222222222ef{
    color:red;
}
.parent.def1{
    color:red;
}
.parent.def2{
    color:red;
}
.parent.de1{
    color:red;
}
.parent.d3ef1{
    color:red;
}
.parent.d33ef1{
    color:red;
}
.parent2.def{
    color:red;
}
.parent3.def1{
    color:red;
}

[href^='#'] {
    color: green;
}