.root :is(.a, .b) .unused {
  color: red;
}

.root :is(.a, .unused) .c {
  color: blue;
}

.root :is(.a, .b) .c :is(.unused, .unused2) {
  color: green;
}

.root:is(.unused) .c {
  color: rebeccapurple;
}

.root:is(.a) .c {
  color: cyan;
}

.root :is(.unused) .c,
.root :is(.a, .b) .c :is(.unused, .unused2) {
  display: flex;
}

.\[\&\:is\(\.a\)\]\:text-black:is(.a) {
  color: black;
}

:is(.b) {
  color: black;
}

:is(.unused) {
  color: chartreuse;
}