/*!****************************************************************************************************!*\
  !*** css ../../../../../node_modules/css-loader/dist/cjs.js!./src/style_that_we_want_to_purge.css ***!
  \****************************************************************************************************/
.hello {
  color: red;
}

.safelisted {
  color: green;
}

md\:w-2\/3 {
  color: red;
}

