/*!******************************************************************************!*\
  !*** css ../../../../../node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \******************************************************************************/
.legacy-unused-class {
  color: red;
}

.unused-too {
  color: blue;
}

.hello {
  color: red;
}

