/*!****************************************************************************************************!*\
  !*** css ../../../../../node_modules/css-loader/dist/cjs.js!./src/style_that_we_want_to_purge.css ***!
  \****************************************************************************************************/
.hello {
  color: red;
}

.unused {
  color: blue;
}

.safelisted {
  color: green;
}

md\:w-2\/3 {
  color: red;
}

/*!******************************************************************************!*\
  !*** css ../../../../../node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \******************************************************************************/
.legacy-unused-class {
  color: red;
}

.unused-too {
  color: blue;
}

.hello {
  color: red;
}

