h1 {
    color: blue;
  }
  
  .random {
    color: green;
  }
  
  #yep {
    color: red;
  }
  
  button {
    color: rebeccapurple;
  }
  
  .nav-blue {
    background-color: blue;
  }
  
  .nav-red {
    background-color: red;
  }
  
  [data-v-test] {
    color: green;
  }
  
.nav-blue .random {
  color: green;
}