:root {
    --primary-color: blue;
    --secondary-color: indigo;
    --tertiary-color: aqua;
    --unused-color: violet;
    --used-color: rebeccapurple;
    --accent-color: orange;
  }
  
  .button {
    --button-color: var(--tertiary-color);
    --border-color: linear-gradient(to top, var(--secondary-color), var(--used-color, white));
  
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-color: var(--border-color);
  }
  
  .button:focus {
    background-color: var(--accent-color);
    color: var(--primary-color);
  }