name: Build / Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, lerna bootstrap, run build and test
      run: |
        npm i -g npm
        npm i
        npm run build --if-present
        npm run lint
        npm run test -- -- --coverage
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.2.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        base-path: ./packages/purgecss
      env:
        CI: true

